.layout {
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 0;
}

.logo {
  color: white;
  font-weight: bold;
  margin-left: 24px;
  margin-right: 24px;
}

.sider {
  background: #fff; 
}

.content {
  padding: 16px;
  position: relative;
}

.windowLayer {
  position: fixed;
  inset: 0;
  pointer-events: none;
  isolation: isolate;
  z-index: 9999;
}